#archiveFilterTable {
    width: 80%;
    border: 2px solid #ddd;
    color: white;
    border-radius: 5px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px grey;
    background-color: #121e2d;
    background-size: 10px 10px;
    font-family: Helvetica, Arial, sans-serif;
}

th {
    cursor: pointer;
}

tr {
    border: solid grey;
    border-width: 1px 0;
}

tr:first-child {
    border-top: none;
}
tr:last-child {
    border-bottom: none;
}

th,
td {
    text-align: left;
    padding: 8px;
}
