html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #121e2d;
}

table {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    width: 70%;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 2px 2px 2px grey;
    background-color: #121e2d;
    color: white;
}

td,
th {
    text-align: left;
    padding: 8px;
    border: none;
    border-bottom: 0.5px dotted grey;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(480px, auto);
    grid-column-gap: 5px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: #121e2d;
}

#createGeofenceView {
    display: none;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 16px;
    background-color: #081420;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-bottom: 1px solid grey;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 7px;
    margin-top: 5px;
    background: white;
    color: black;
    min-width: 50px;
    text-align: center;
    border-radius: 5px;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid white;
}

#placeInput {
    width: 80%;
    float: left;
}

#radiusInput {
    border: none;
    border-bottom: 1px solid grey;
    padding: 15px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: 0.5px solid rgb(124, 123, 123);
    border-radius: 10px;
    margin-bottom: 25px;
}

.cancelbtn {
    background-image: linear-gradient(
        to right,
        rgb(230, 120, 175),
        rgb(243, 24, 97)
    );
    color: white;
    padding: 16px 20px;
    margin: 20px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
    float: left;
}

.cancelbtn:hover {
    opacity: 1;
}

.registerbtn {
    background-image: linear-gradient(
        to right,
        rgb(100, 193, 255),
        rgb(43, 135, 241)
    );
    color: white;
    padding: 16px 20px;
    margin: 20px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
    float: right;
}

.registerbtn:hover {
    opacity: 1;
}

.LoginContent {
    width: 30%;
    margin-left: 35%;
    margin-top: 40px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    /*font-weight: bold;*/
}

.left {
    float: left;
}

.right {
    float: right;
}

/* --- Header --- */
#header {
    margin-bottom: 0;
    height: 75px;
    width: 100%;
    box-shadow: 0px 3px 15px #888888;
    background-color: #232323;
}

#header input {
    margin-top: 25px;
    margin-right: 15px;
    margin-bottom: 0px;
    padding-left: 10px;
    float: right;
    width: 20%;
}

#header a {
    color: rgba(127, 255, 249, 0.781);
}

#logo {
    margin-top: 15px;
    margin-left: 15px;
    width: 200px;
}

#menu {
    list-style-type: none;
    margin-top: 0px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

#menu li {
    float: left;
    color: white;
    margin-right: 20px;
    padding-top: 10px;
}

#menu ul {
    width: 800px;
}

.imageLink {
    text-align: center;
}

.imageLink img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imageLink p {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 14px;
}

/* --- Sidebar --- */

#sidebar {
    background: #fff;
    width: 275px;
    min-height: 100%;
    height: 100%;
    float: left;
    margin-right: 15px;
    padding-bottom: -100px;
}

#sidebarheader {
    height: 50px;
    width: 275px;
    background-color: #232323;
    background-size: 50px;
    float: left;
    -webkit-border-radius: 3px 3px 0px 0px;
}

#sidebarheader img {
    margin-right: 10px;
    margin-top: 10px;
}

#sidebarheader p {
    font-size: 24px;
    margin-top: 12px;
    margin-left: 15px;
    font-weight: bold;
    color: white;
}

#sidebarheader input {
    width: 120px;
    margin-top: 11px;
    margin-left: 15px;
    padding-left: 5px;
}

#alerts {
    width: 275px;
    height: 100%;
    overflow: scroll;
}

.alarm {
    height: 118px;
    width: 275px;
    background-color: #ededed;
    border-bottom-style: solid;
    border-bottom-color: #d8d8d8;
    border-top-style: solid;
    border-top-color: #fafafb;
    border-width: 1px;
    overflow: hidden;
    line-height: 20px;
}

.alarm.selected {
    background-color: #d8d8d8;
}

.alarm3 {
    height: 150px;
    width: 275px;
    background-color: #fff;
    border-bottom-style: solid;
    border-color: #868686;
    border-width: 1px;
    overflow: auto;
}

#wifiTable {
    margin-top: 10px;
}

#status {
    width: 24px;
    height: 116px;
    float: left;
}

#alerts li {
    font-size: 16px;
}

li a {
    color: white;
    text-decoration: none;
}

a,
img {
    border: none;
}

.grey {
    color: #495966;
}

div.active {
    background-color: #ed1c24;
}

div.accepted {
    background-color: #fff200;
}

div.closed {
    background-color: #8dc63f;
    border-bottom-style: solid;
    border-bottom-color: #54a726;
    border-top-style: solid;
    border-top-color: #96d475;
    border-width: 1px;
}

div.active {
    background-color: #ff001a;
    border-bottom-style: solid;
    border-bottom-color: #d40016;
    border-top-style: solid;
    border-top-color: #ff6777;
    border-width: 1px;
}

div.accepted {
    background-color: #fff200;
    border-bottom-style: solid;
    border-bottom-color: #dcd100;
    border-top-style: solid;
    border-top-color: #fffbaf;
    border-width: 1px;
}

.closed {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

.accepted {
    font-weight: bold;
}

/* --- Users --- */
.datadiv hr {
    width: 98%;
    border: 0px;
    color: #e1e1e1;
    background-color: #e1e1e1;
    height: 1px;
}

.rowhdr {
    text-align: left;
    padding-left: 15px;
}

.rownum {
    padding-left: 20px;
    padding-right: 20px;
}

.rownum2 {
    padding-left: 0px;
    padding-right: 20px;
}

.rowinfo {
    padding-left: 5px;
}

.rowinfo2 input {
    padding-left: 5px;
    width: 150px;
}

input {
    width: 400px;
    height: 25px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
}

.rowinfo select {
    width: 400px;
    height: 25px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
}

table {
    margin-top: 16px;
}

td {
    padding-bottom: 10px;
}

.savebtn {
    margin-left: 30px;
    margin-top: 10px;
}

.savebtn2 {
    margin-left: 30px;
}
